.section {
  width: 328px;
  margin-left: auto;
  margin-right: auto;
  padding: 96px 16px 0px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 48px;
}

.title {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 60px;
  color: var(--text-color-blue);
}

.imageWrapper {
  background-color: var(--background-main-color);
  box-shadow: 0 4px 8px rgba(124, 122, 151, 0.1);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 32px;
}

.imageWrapperText {
  max-width: 689px;
  padding: 16px 28px;
  font-size: 16px;
  text-align: center;
}

.imageLowWidth {
  border-radius: 16px;
}
.imageHighWidth {
  border-radius: 16px;
  display: none;
}

.stepsList {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 328px;
}
.stepsList h3 {
  color: var(--text-color-black);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 24px;
}
.stepsListMainDesc {
  color: var(--text-color-black);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 40px;
}
.step {
  color: var(--text-color-blue);
  display: flex;
  align-items: center;

  gap: 16px;
  margin-bottom: 40px;
}
.iconSvg {
  color: var(--secondblue-color);
  min-width: 24px;
  min-height: 24px;
}

.orderButton {
  padding-left: 48px;
  padding-right: 48px;
}

@media screen and (min-width: 1440px) {
  .imageWrapperText {
    font-size: 22px;
  }
  .section {
    width: 1408px;
    padding: 0;
    margin: 150px auto;
  }
  .title {
    font-size: 64px;
    margin-bottom: 80px;
  }
  .titleTransfer {
    display: none;
  }
  .firstPartContainer {
    display: flex;
    gap: 136px;
  }
  .imageLowWidth {
    display: none;
  }
  .imageHighWidth {
    display: block;
  }
  .stepsList {
    display: flex;
    flex-direction: column;
    width: 576px;
  }
  .iconSvg {
    width: 32px;
    height: 32px;
  }
  .orderButton {
    padding: 24px 96px;
    font-size: 24px;
  }
}
