.card {
  position: relative;
  width: 328px;
  border-radius: 12px;
  box-shadow: 0 12px 12px rgba(124, 122, 151, 0.15);
  height: fit-content;
}

.person {
  position: absolute;
  width: 328px;
  color: var(--text-color-white);
  background-color: var(--secondblue-color);
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  font-weight: 600;
  font-size: 16px;
  padding: 16px 24px 15px 49.5px;
  top: 300px;
}
.person h4 {
  text-align: start;
}

.text {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  padding: 67.5px 24px 17.5px 24px;
}

.imageLowWidth {
  display: block;
}
.imageHighWidth {
  display: none;
}

@media screen and (min-width: 1440px) {
  .card {
    width: 459px;
    height: 678px;
  }
  .imageLowWidth {
    display: none;
  }
  .imageHighWidth {
    display: block;
  }
  .person {
    width: 460px;
    top: 390px;
    padding: 24px 44.5px;
    font-size: 24px;
  }
  .text {
    font-size: 20px;
    padding: 80px 44.5px 32px 44.5px;
  }
}
