.footer {
  background: linear-gradient(
    135deg,
    var(--firstblue-color),
    var(--secondblue-color)
  );
  padding: 60px 16px 96px 16px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logoSection {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text-color-white);
  width: 202px;
  height: 60px;
}

.logo {
  height: 38px;
  font-size: 40px;
  font-weight: 700;
}

.slogan {
  font-size: 15px;
  height: 13px;
}

.linksColumn {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--text-color-white);
}

.linksTitle {
  font-weight: 700;
  font-size: 18px;
  color: var(--text-color-white);
}

.linksList {
  font-weight: 500;
  font-size: 18px;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.linksList li {
  cursor: pointer;
}

.linksList li:hover {
  color: #2563eb;
}

.orderButton {
  align-self: flex-start;
  padding: 22px 48px;
  background: var(-text-color-white);
  color: var(--secondblue-color);
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
}
.logoAndLinks {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.agreementAndOrder {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.sertficats {
  display: none;
}
.orderButton {
  padding: 22px 48px;
  background: var(--text-color-white);
  color: var(--secondblue-color);
}

@media screen and (min-width: 1440px) {
  .content {
    flex-direction: row;
    justify-content: space-between;
    width: 1408px;
    margin: 0 auto;
    padding: 0;
  }
  .logoAndLinks {
    flex-direction: row;
    gap: 80px;
    width: 686px;
  }
  .agreementAndOrder {
    flex-direction: row;
    align-items: center;
    gap: 40px;
    width: 452px;
    height: 64px;
  }
  .logoSection {
    width: 219px;
    height: 65px;
    gap: 0px;
  }
  .logo {
    height: 41px;
    font-size: 42px;
    line-height: 1;
  }
  .slogan {
    font-size: 16px;
    height: 15px;
  }
  .linksTitle {
    font-size: 20px;
  }
  .linksList {
    font-size: 20px;
  }
  .sertficats {
    display: block;
    font-size: 20px;
  }
  .orderButton {
    padding: 17px 50px;
    font-size: 24px;
  }
}
