.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--background-main-color);
}

.logoContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 120px;
  height: 35px;
  cursor: pointer;
  text-decoration: none;
}

.logoText {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--text-color-black);
}

.slogan {
  text-align: center;
  font-size: 9px;
  font-weight: 600;
  color: var(--text-color-black);
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.languageSwitcher {
  display: flex;
  gap: 8px;
}

.languageButton {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background: none;
  border-radius: 6px;
  cursor: pointer;
}

.languageButton:hover {
  background-color: #fefefe;
}

.burgerMenu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 16px;
  border: none;
  color: var(--text-color-white);
  background: linear-gradient(
    to bottom,
    var(--firstblue-color),
    var(--secondblue-color)
  );
  border-radius: 12px;
  cursor: pointer;
}
.hideOnSmallScreen {
  display: none;
}

.linksList {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header {
    max-width: 1400px;
    margin: 0 auto;
    padding: 35px 0;
  }
  .burgerMenu {
    display: none;
  }
  .hideOnSmallScreen {
    display: block;
    font-size: 20px;
    font-weight: 500;
  }
  .linksList {
    display: flex;
    gap: 32px;
    font-size: 18px;
    font-weight: 500;
    color: var(--text-color-blue);
  }
  .logoContainer {
    width: 220px;
    height: 64px;
  }
  .logoText {
    font-size: 42px;
  }
  .slogan {
    font-size: 16px;
  }
}
