.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 24px;
}

.item {
  list-style: disc;
  font-size: 16px;
  font-weight: 400;
  margin-left: 24px;
  line-height: 1.5;
}

@media screen and (min-width: 1440px) {
  .list {
    margin-bottom: 48px;
    padding: 0 50px 0 12px;
    gap: 32px;
  }
  .item {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.29;
  }
}
