.btnContainer {
  width: 278px;
  height: 77px;
  padding: 16px 24px;
  background: linear-gradient(
    to bottom,
    var(--firstblue-color),
    var(--secondblue-color)
  );
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-bottom: 24px;
}
.pagination {
  display: flex;
  gap: 7px;
}
.paging {
  width: 20px;
  height: 10px;
  background: var(--text-color-white);
  border-radius: 12.42px;
}
.paging.active {
  background: var(--text-color-blue);
}
.prevArrow,
.nextArrow {
  width: 45px;
  height: 45px;
  bottom: -28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color-white);
  z-index: 10;
  pointer-events: auto;
  background-color: transparent;
}

.prevArrow {
  left: 24px;
}

.nextArrow {
  right: 24px;
}
