.section {
  padding: 14px 16px 26px 16px;
  background: linear-gradient(135deg, var(--text-color-white), #f7fafc);
}

.title {
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    var(--firstblue-color),
    var(--secondblue-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 32px;
  font-weight: 600;
  color: #333333;
  margin-bottom: 16px;
}

.content {
  width: 328px;
  margin: 0 auto;
}

.description {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1.5;
  color: #666666;
}

.featureItem {
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #404969;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  margin-top: 32px;
}
.orderButtonHighWidth {
  display: none;
}
.priceContainer {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding: 8.5px 12px;
  width: 152px;
  height: 47px;
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(
    to bottom,
    var(--firstblue-color),
    var(--secondblue-color)
  );
  border-radius: 22.67px;
  color: var(--text-color-white);
}

.price {
  position: absolute;
  top: 0;
  left: -10px;
  width: 63%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 22.67px;
  background-color: var(--text-color-black);
}
.price::after {
  content: '';
  position: absolute;
  left: 20%;
  top: 50%;
  width: 60%;
  height: 3px;
  background: linear-gradient(to bottom, #ff9466, #ffb088);
  border-radius: 5px;
  transform: translateY(-50%);
}

.imgContainerHighWidth {
  background-color: var(--background-main-color);
  border-radius: 23px;
  display: none;
}
.imgContainerlowWidth {
  background-color: var(--background-main-color);
  border-radius: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 36px;
}
.imgContainerText {
  font-size: 18px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}
@media screen and (min-width: 1440px) {
  .imgContainerText {
    font-size: 24px;
  }
  .imgContainerHighWidth {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
  }
  .imgContainerlowWidth {
    display: none;
  }
  .imagesContainer {
    margin: 0 auto 0 0;
  }
  .subtitle {
    font-size: 48px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 24px;
  }

  .section {
    display: flex;
    align-items: center;
    gap: 44px;
    padding-top: 158px;
    padding-bottom: 118px;
  }
  .content {
    margin: 0 0 0 auto;
    width: 694px;
    height: 493px;
    padding-right: 60px;
  }
  .title {
    font-size: 24px;
    margin-bottom: 25px;
  }
  .description {
    font-size: 24px;
    line-height: 1;
    text-decoration: none;
    margin-bottom: 40px;
    color: #666666;
  }
  .featureItem {
    margin-bottom: 18px;
  }
  .orderButtonHighWidth {
    display: block;
    font-size: 24px;
    padding: 32px 80px;
  }
  .orderButtonLowWidth {
    display: none;
  }
  .actions {
    justify-content: start;
    gap: 36px;
    margin-top: 48px;
  }
  .priceContainer {
    width: 222px;
    height: 61px;
    font-size: 32px;
    padding: 10.5px 22px;
  }
  .price {
    left: -6px;
    width: 52%;
  }
}
