.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  background-color: var(--background-main-color);
}

.btnBack {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 23px;
  background: linear-gradient(
    to bottom,
    var(--firstblue-color),
    var(--secondblue-color)
  );
  color: var(--text-color-white);
  border: none;
  border-radius: 10.85px;
  font-size: 10.85px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btnBack:hover {
  background: linear-gradient(135deg, #fdc1a2 0%, #f8aa89 100%);
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(83, 144, 236, 0.3);
}

.logoContainerLowWidth {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}
.logoContainerHighWidth {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.languageSwitcher {
  display: flex;
  gap: 8px;
}

.languageButton {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 500;
  border: none;
  background: none;
  border-radius: 6px;
  cursor: pointer;
}

.languageButton:hover {
  background-color: #fefefe;
}

@media screen and (min-width: 1440px) {
  .buttonsContainer {
    flex-direction: row;
  }
  .btnBack {
    padding: 20px 68px;
    font-size: 20px;
    border-radius: 20px;
  }
  .header {
    max-width: 1400px;
    margin: 0 auto;
    padding: 35px 0;
  }
  .logoContainerHighWidth {
    display: flex;
  }
  .logoContainerLowWidth {
    display: none;
  }
}
