.section {
  padding: 14px 16px 26px 16px;
  background-color: rgba(213, 238, 255, 0.3);
}

.title {
  font-size: 18px;
  font-weight: 600;
  background: linear-gradient(
    135deg,
    var(--firstblue-color),
    var(--secondblue-color)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 32px;
  font-weight: 600;
  color: var(--text-color-black);
  margin-bottom: 16px;
}
.imagesContainer img {
  width: 100%;
  border-radius: 10.77px;
  margin-bottom: 16px;
}

.content {
  max-width: 800px;
  margin: 0 auto 40px;
}

.description {
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
  line-height: 1.5;
}

.featuresList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.featureItem {
  display: flex;
  gap: 12px;
  font-size: 16px;
  font-weight: 600;
  color: #404969;
  margin-bottom: 16px;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
.priceContainer {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: center;
  padding: 8.5px 12px;
  width: 152px;
  height: 47px;
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(
    to bottom,
    var(--firstblue-color),
    var(--secondblue-color)
  );
  border-radius: 22.67px;
  color: var(--text-color-white);
}

.price {
  position: absolute;
  top: 0;
  left: -10px;
  width: 63%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 20px;
  border-radius: 22.67px;
  background-color: var(--text-color-black);
}
.price::after {
  content: '';
  position: absolute;
  left: 20%;
  top: 50%;
  width: 60%;
  height: 3px;
  background: linear-gradient(to bottom, #ff9466, #ffb088);
  border-radius: 5px;
  transform: translateY(-50%);
}
