:global(.slick-dots li.slick-active) .paging {
  background: #404969;
}

.sliderContainer {
  width: 328px;
  height: 328px;
  margin: 0 auto 32px auto;
  box-sizing: content-box;
}

.imageWrapper {
  border-radius: 10.77px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.paging {
  width: 20px;
  height: 10px;
  background: #cddbe3;
  border-radius: 12.42px;
}
